@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: InterVariable, sans-serif;

  --color-background: #fff;
  --color-text: #111;
}

@layer theme {
  .dark {
    --color-background: #111;
    --color-text: #fff;
  }
}

@layer components {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }
}
